* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/* --->HEADER<--- */
header .max-container {
    display: flex;
    justify-content: space-between;
}
/* --->HEADER<--- */


/* --->GENERAL<--- */
.max-container {
    width: 100vw;
}
.medium-container {
    width: 70%;
    margin: auto;
}
.small-container {
    width: 65%;
    margin: auto;
}
.bg-sky {
    background-color: #B4D0E7;
}
.bg-black {
    background-color: black;
}
/* --->GENERAL<--- */


/* --->MAIN<--- */
.columns {
    
    display: flex;
    justify-content: space-between;
    
}
.col {
    
    width: 200px;

}
.col-bottom {

    margin-top: 20px;
}
.box {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.content {

    width: calc((100% / 3) - 10px );
    margin-top: 10px;
}
.square-box {
    display: flex;
    justify-content: center;
    
}
.square-box-left {
   
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    

}
.square-box-center {
    width: calc(100% / 3);
    height: 500px;
    display: flex;
 
}
.square-box-right {
   
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-wrap: wrap;

}

.square {

    width: 50%;
    height: 50%;
    border: solid 1px black;

}
.ask {

    width: 100%;
    padding: 30px;
    border-top: solid 1px black;
}
.last-ask{
    border-bottom: solid 1px black;
    margin-bottom: 50px;
}

.blue-bar {
    /* cancellare */
    height: 200px;
}

/* --->MAIN<--- */


/* --->FOOTER<--- */
.footer-col ul {
    color: white;
    list-style-type: none;
    margin-top: 100px;
    margin-bottom: 100px;
}
.title {
    padding-bottom: 10px;
}

.language {
    
    border-top: solid 1px white;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* --->FOOTER<--- */