
/* --->GENERAL<--- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
   font-family: sans-serif;
}
main {
    padding-top: 72px;
}
.max-container {
    width: 100%;
}
.medium-container {
    width: 65%;
    margin: auto;
}
.small-container {
    width: 50%;
    margin: auto;
}
.bg-sky {
    background-color: #B4D0E7;
}
.bg-black {
    background-color: black;
}
.bg-white {
    background-color: whitesmoke;
}
.button {
    padding: 8px 15px;
    background-color: #0061FF;
    border: none;
    color: white;
}
.w-30 {
    width: 30%;
}
.w-70 {
    width: 70%;
}
.m-30 {
    margin-top: 30px;
}
.m-50 {
    margin-top: 50px;
}
.border {
    border: solid 1px rgba(128, 128, 128, 0.5);
}
.d-block {
    display: block;
}
.padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
.in-line {
    display: inline;
    height: 50px;
}
/* --->GENERAL<--- */

/* --->HEADER<--- */
header .max-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}
.header ul{
    list-style-type: none;
    display: flex;   
    padding: 10px;
}
.header li {
    padding: 10px;
    display: flex;
    align-items: center;
}

/* --->HEADER<--- */

/* --->MAIN<--- */
/* jumbo */
#title {
    font-size: 60px;
    font-weight: 1000;
    padding-top: 40px;
    padding-bottom: 40px;
}
.jumbo {
    display: flex;
}
.jumbo-left span {
    display: block;  
}
.jumbo-left i{
    font-size: 40px;
    margin-bottom: 10px;
}
.jumbo-right {
    position: relative;
}
.jumbo-right img{
    width: 100%;
    position: absolute;
}
/* jumbo */
/* piani di acquisto */
.h2-selector h2{
    margin-top: 150px;
    font-size: 35px;
}
.checkbox {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    display: inline-block;
}
.col {
    width: calc((100% / 3) - 20px);

}
.col-top {
    border-bottom: solid 1px rgba(128, 128, 128, 0.5);
    text-align: center;
    padding: 10px;
}
.col-bottom {
    padding: 30px;
    font-size: 10px;
}
.col-bottom h3 {
    font-size: 20px;
}
.object {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
}
.object-left {
    width: 10%;
    padding-right:10px;
}
.object-right {
    width: 90%;
    vertical-align: center;
}
.col-bottom button {
    padding: 10px;
    text-align: center;
}
.line {
    width: 10%;
    border-top: solid 1px rgba(128, 128, 128, 0.5);
}
.list-col {
    list-style-type: none;  
}
.columns {
    display: flex;
    justify-content: space-between;
}



/* piani di acquisto */

.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    width: calc((100% / 3) - 10px );
    margin-top: 10px;
}

.square-box {
    display: flex;
    justify-content: center;
}

.square-box-left {
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.square-box-center {
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    overflow-y: auto;
}

.square-box-right {
    width: calc(100% / 3);
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 50%;
    height: 50%;
    border: solid 1px black;
}

.ask {
    width: 100%;
    padding: 30px;
    border-top: solid 1px black;
}

.last-ask{
    border-bottom: solid 1px black;
    margin-bottom: 50px;
}

.blue-bar {
    /* cancellare */
    height: 200px;
}
/* --->MAIN<--- */

/* --->FOOTER<--- */
.footer-col ul {
    color: white;
    list-style-type: none;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title {
    padding-bottom: 10px;
}

.language {
    border-top: solid 1px white;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* --->FOOTER<--- */